
        </div>

        <div id="content-wrapper">
          <div id="content">
            <div class="in">
              <%= flash_messages %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

    </body>
    </html>